.article-third-screen {
  padding-top: 90px;
  background-color: #F2F2F2;
  font-family: 'Inter', sans-serif;
  color: #3d3d3d;
  padding-bottom: 15px;
}

.third-screen {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding-bottom: 90px;
}

.third-screen-image-left-content {
  width: 456px;
  height: 336px;
  margin-left: 228px;
  margin-right: 44px;
}

.third-screen-right-content {
  margin-right: 228px;
}

.third-screen-right-content h2 {
  margin-top: 0;
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 28px;
  line-height: 32px;
}

.third-screen-right-content p {
  margin-top: 0;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 40px;
  width: 484px;
}

.third-screen-right-content a {
  color: #5E20A4;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-decoration: underline;
}

@media screen and (max-width: 1020px) {
  .article-third-screen {
    padding-top: 64px;
  }

  .third-screen {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .third-screen-image-left-content {
    margin: 0 0 40px 0;
    width: 312px;
    height: 230px;
  }

  .third-screen-right-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 0;
    width: 328px;
  }

  .third-screen-right-content h2{
    width: 226px;
    font-size: 22px;
  }

  .third-screen-right-content p {
    width: 328px;
  }

  .third-screen-right-content a {
    width: 328px;
  }
}